@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: 'Cormorant Infant';
  src: url("/assets/fonts/CormorantInfant-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol {
  padding-left: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #8ccefe;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

/*.snow-wrap {*/
/*  !*min-height: 100vh;*!*/
/*  height: 100%;*/
/*  overflow: hidden;*/
/*  position: relative;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/
.login-mobile__img,
.winner-mobile,
.lists-all__mobile {
  display: none;
}

.login-wrapper {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poll-wrapper,
.stat-wrapper {
  min-height: 80vh;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1480px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  /*border: 1px solid;*/
}

.login-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login-form {
  width: 410px;
  height: 230px;
  position: absolute;
  left: 32%;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  height: 50px;
  border: 1px solid #e7e7e7;
  border-radius: 25px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 45px;
}

.login-icon,
.password-icon {
  position: relative;
}

.login-icon::before {
  background: url('/assets/img/account-icon.png') no-repeat center;
  width: 15px;
  height: 15px;
  content: "";
  position: absolute;
  top: 17px;
  left: 20px;
}

.password-icon::before {
  background: url('/assets/img/password-icon.png') no-repeat center;
  width: 15px;
  height: 15px;
  content: "";
  position: absolute;
  top: 17px;
  left: 20px;
}

.form-control::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #aeaeae;
}

.login-submit {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: linear-gradient(87.84deg, #72191c 50.08%, #e04252 97.48%);
  opacity: 0.8;
  border-radius: 25px;
  padding: 15px 65px;
  border: none;
  cursor: pointer;
}

.juniper-container {
  margin-top: 650px;
  margin-bottom: 250px;
}

.juniper {
  width: 100%;
  height: 970px;
  background: url("/assets/img/juniper.png") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  text-align: center;
}

.juniper h1 {
  font-family: 'Cormorant Infant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
  color: #fff;
  margin-top: 180px;
}
.juniper h2 {
  position: absolute;
  left: 36%;
  top: 70%;
  text-align: center;
  width: 28%;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
}

.juniper-img {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 260px;
}

.winner-img {
  width: 100%;
  height: 670px;
  /*display: flex;*/
  /*justify-content: center;*/
  position: absolute;
  top: 50px;
}

.winner-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.juniper-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#position_1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#position_2,
#position_3,
#position_4 {
  display: none;
}

.user {
  height: 100%;
  min-height: 420px;
  width: 18%;
  min-width: 220px;
  /*margin: 25px;*/
  cursor: pointer;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.user:nth-child(1)::before,
.user:nth-child(2)::before,
.user:nth-child(3)::before,
.user:nth-child(4)::before,
.user:nth-child(5)::before {
  width: 260px;
  height: 120px;
  content: "";
  position: absolute;
  top: -80px;
  left: 0;
  background: url("/assets/img/poll-snow.png") no-repeat;
  background-size: cover;
}

.user.active {
  background: #fc0;
  color: #fff;
  border: solid 1px #cba500;
}

.user-img {
  width: 200px;
  height: 240px;
  background: #9e9e9e;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.user label {
  display: block;
  margin: 20px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}

.user a {
  width: 80%;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #fff, #fff), linear-gradient(269.55deg, #ffa402 3.37%, #ffb909 89.01%);
  border: 1px solid #d5d5d5;
  backdrop-filter: blur(5px);
  border-radius: 25px;
  padding: 15px 45px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #989898;
}

.user a:hover {
  color: #fff;
  background: linear-gradient(87.84deg, #72191c 50.08%, #e04252 97.48%);
  opacity: 0.8;
}

#list_position_1,
#list_position_2,
#list_position_3 {
  background: #fff;
  margin: 5px;
  padding: 5px;
}

.squirell {
  position: absolute;
  left: 0;
  bottom: 0;
}

.winner {
  position: absolute;
  left: 0;
  width: 100%;
  top: 590px;
  /*margin-bottom: 80px;*/
  overflow: hidden;
}

.winner-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.winner-user {
  min-width: 365px;
  width: 30%;
  min-height: 560px;
  height: 100%;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.winner-user:nth-child(odd) {
  margin-top: 40px;
}

.winner-user__img {
  width: 80%;
  height: 382px;
  background: #fff;
  border-radius: 20px;
  margin: 0 40px;
  overflow: hidden;
}

.winner-user__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.winner-user h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 20px 0;
}

.winner-user span {
  width: 100%;
  background: linear-gradient(87.2deg, #600c0a 2.48%, #bf0f11 43.23%, #d03e3e 72.94%, #d95455 98.46%, #e8acac 114.48%, #ebbfbf 119.28%, #d68483 123.32%, #be3f3e 128.75%, #620c0b 140.53%), #d9d9d9;
  /*border-radius: 10px;*/
  padding: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.happy {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  border: 1px solid;
  position: absolute;
  z-index: 1;
}

.happy > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lists {
  margin-top: 700px;
  margin-bottom: 200px;
}

.lists-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid;*/
}

.lists-rel {
  position: relative;
  display: flex;
}

.lists-abs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bantik {
  position: absolute;
  top: -20px;
  z-index: -1;
}

.lists-title {
  /*border: 1px solid;*/
  background: linear-gradient(0deg, #27be4d, #27be4d), #d9d9d9;
  border-radius: 10px 10px 0 0;
  padding: 45px 60px;
  position: inherit;
  bottom: -20px;
}

.lists-title span,
.lists-title span a,
.lists-title span a small {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-decoration: none;
}

.lists-all {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  transform: translateY(-45px);
}

.list-item {
  width: 32%;
  border-right: 1px solid #000;
  padding-right: 30px;
}

.list-item:last-child {
  border-right: 0;
  padding-right: 0;
}

.list-item small {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-right: 25px;
}

.list-item b {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.list-item strong {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 20px;
  
}

.list-item li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.list-item p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 0;
  padding-right: 5px;
}

.light-green {
  color: #27be4d !important;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.popup-wrap {
  width: 50%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  border: 1px solid #ededed;
}
.popup-wrap h1 {
  font-family: 'Cormorant Infant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 68px;
  margin-bottom: 30px;
}
.popup-wrap p {
  font-size: 30px;
  line-height: 34px;
  font-style: italic;
  font-weight: 300;
  color: #9f9f9f;
  margin-bottom: 10px;
}
.popup-wrap button {
  width: fit-content;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #fff, #fff), linear-gradient(269.55deg, #ffa402 3.37%, #ffb909 89.01%);
  border: 1px solid #d5d5d5;
  backdrop-filter: blur(5px);
  border-radius: 25px;
  padding: 15px 45px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #989898;
}
.popup-wrap button:hover {
  color: #fff;
  background: linear-gradient(87.84deg, #72191c 50.08%, #e04252 97.48%);
  opacity: 0.8;
}

/* lotto */
.lotto {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #1f1f2f 0%, #2d3e56 100%), linear-gradient(0deg, #8ccefe, #8ccefe), #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lotto-title {
  min-height: 160px;
  height: 100%;
  width: 928px;
  background: #f9ab23;
  /*background: linear-gradient(87.84deg, #72191C 50.08%, #E04252 97.48%), #F9AB23;*/
  border-radius: 120px;
  padding: 30px;
  position: relative;
  margin: auto;
}
.lotto-dotted {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 910px;
  height: 200px;
  border: 15px dotted #fff;
  border-radius: 120px;
  animation: dash 2s ease infinite;
}
@keyframes dash {
  to {
    border: 15px dotted #f9ab23;
  }
}

@-webkit-keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
  
}
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
  
}

/*.lotto-dotted {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    !*background: #ccc;*!*/
/*    border-radius: 120px;*/
/*}*/
/*.dotted-left {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*}*/
/*.lotto-dotted span {*/
/*    display: flex;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    background: #fff;*/
/*    z-index: 111;*/
/*    border-radius: 50%;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*}*/
/*.lotto-title::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background: linear-gradient(90deg, black 50%, transparent 50%),*/
/*    linear-gradient(90deg, black 50%, transparent 50%),*/
/*    linear-gradient(0deg, black 50%, transparent 50%),*/
/*    linear-gradient(0deg, black 50%, transparent 50%);*/
/*    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;*/
/*    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;*/
/*    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;*/
/*    border-radius: 5px;*/
/*    animation: dash 20s linear infinite;*/
/*}*/
/*.lotto-title::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #ccc;*/
/*    z-index: -1;*/
/*}*/
.border {
  width: 100%;
  height: 100%;
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(87.84deg, #72191c 50.08%, #e04252 97.48%), #f9ab23;
  border-radius: 80px;
}
/*.border h1 {*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 64px;*/
/*    line-height: 78px;*/
/*    color: #FFFFFF;*/
/*    margin-bottom: 0;*/
/*}*/
.lotto-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lotto-count__bg {
  width: 100%;
  height: 100%;
  min-height: 630px;
  background: url("/assets/img/lotto.png") no-repeat center;
  background-size: contain;
  position: relative;
  margin-bottom: 30px;
  margin-top: 50px;
}

.spinner {
  font-weight: 900;
  font-size: 250px;
  position: absolute;
  top: 27%;
  left: 22%;
  width: 56%;
  display: flex;
  justify-content: space-around;
}
#results {
  background: #fc0;
  font-size: 48px;
  width: 200px;
  padding: 10px;
  margin: 10px;
  
}
.lotto-start {
  width: 928px;
  height: 241px;
  background: #fc0;
  border: 20px solid #f9ab23;
  border-radius: 70px;
  overflow: hidden;
}
.lotto-bg {
  width: 100%;
  height: 100%;
  background: url("/assets/img/results_1_default.png") no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.lotto-start__btn {
  width: 180px;
  height: 50px;
  background: linear-gradient(85.24deg, #ffa402 61.33%, #ffd233 96.54%);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.lotto-start__btn:hover {
  color: #e7e7e7;
}
#results_1,
#results_2,
#results_3 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.bingo {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #fff;
  margin-top: 15px;
  animation: pulse linear 2s infinite;
  
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.lotto .popup {
  bottom: -35px;
}
.lotto .popup-wrap {
  width: 33%;
  height: 510px;
  align-items: center;
}
.lotto .popup-wrap h1 {
  line-height: 60px;
  margin-bottom: 20px;
}
.lotto .popup input {
  width: 300px;
  font-size: 60px;
  outline: none;
  display: flex;
  justify-content: center;
  text-align: center;
  background: linear-gradient(87.84deg, #72191c 50.08%, #e04252 97.48%);
  border: 10px solid #f9ab23;
  border-radius: 60px;
  color: #fff;
}
.lotto .popup-wrap button {
  width: fit-content;
}

/* lotto end */

.thanks {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 130px;
  color: #fff;
  text-align: center;
}
.flags {
  width: 120px;
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.flags a {
  width: 50px;
  height: 50px;
}
.flags a img {
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: 50%;
}
.next-awards {
  position: absolute;
  bottom: 40px;
  left: 46%;
}